<div class="app">
  <select
    class="app__select"
    [(ngModel)]="firstCountry"
    (change)="getCountryStat()"
  >
    <option>Select the country</option>
    <option *ngFor="let country of countries">
      {{ country.name }}
    </option>
  </select>

  <select
    class="app__select"
    [(ngModel)]="secondCountry"
    (change)="getSecondCountryStat()"
  >
    <option>Select the country</option>
    <option *ngFor="let country of countries">
      {{ country.name }}
    </option>
  </select>

  <app-radar-chart 
  [cStat]="countryStat" 
  [sStat]="secondCountryStat"
  ></app-radar-chart>
</div>
