<div class="app__about">
  <div class="app__about__block">
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text"
        >COVID-19 (coronavirus disease 2019) is a disease caused by a virus
        named SARS-CoV-2 and was discovered in December 2019.</span
      >
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text"
        >Common symptoms of COVID-19 include a fever, cough, congestion, and
        shortness of breath, chills, muscle aches, and loss of taste or
        smell.</span
      >
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text"
        >People who have chronic health issues or compromised immune systems,
        such as heart disease, lung disease, or diabetes, are at a greater risk
        of becoming seriously ill.</span
      >
    </div>
  </div>
  <div class="app__about__block">
    <div class="app__about__block__inside">
      <span class="did-you-know" #span1>Did you know?</span>
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text">
        When a person with COVID-19 breathes, coughs, or sneezes, tiny droplets
        leave their mouth and nose and go into the air. You can’t see these
        droplets.
      </span>
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text"
        >COVID-19 also can be shared if you touch a surface an infected person
        has touched. Some examples include door handles, elevator buttons and
        shopping carts.
      </span>
    </div>
  </div>
  <div class="app__about__block">
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text">
        Currently, testing options are available at physician offices and health
        systems, local public health offices, pharmacies, and even some schools.
      </span>
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text">
        Most of the time, COVID-19 treatment includes treating the symptoms,
        which can be done at home. It’s often similar to treating influenza (the
        flu) or cold symptoms.
      </span>
    </div>
    <div class="app__about__block__inside">
      <span class="app__about__block__inside__text">
        The U.S. Food and Drug Administration (FDA) authorized the vaccines, and
        the CDC recommended the Pfizer-BioNTech’s coronavirus vaccine
      </span>
    </div>
  </div>
</div>
