.app__about {
  height: 675px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  &__block {
    display: flex;
    flex-direction: column;
    height: 624px;
    width: 600px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;

    &__inside {
      height: 190px;
      width: 500px;
      margin-left: 50px;
      margin-top: 13px;
      border: 1px solid rgb(23, 211, 16);
      background-color: rgb(227, 236, 212);
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      font-weight: bold;

      &__text {
        font-size: 20px;
        text-align: center;
        font-style: italic;
      }
    }
  }
}

.did-you-know {
  font-size: 50px;
  letter-spacing: 3px;
  display: block;
}

@media only screen and (min-height: 970px) {
  .app {
    &__about {
      height: 1200px;
    }
  }
}

@media only screen and (max-width: 1745px) {
  .app {
    &__about {
      &__block {
        margin-left: 5px;
        width: 400px;
        &__inside {
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1510px) {
  .app {
    &__about {
      &__block {
        &__inside {
          width: 400px;
          &__text {
            font-size: 15px;
          }
        }
      }
    }
  }
  .did-you-know {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1230px) {
  .app {
    &__about {
      &__block {
        width: 300px;
        &__inside {
          width: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 910px) {
  .app {
    &__about {
      flex-direction: column;
      height: auto;
      &__block {
        width: 600px;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        &__inside {
          width: 600px;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 630px) {
  .app {
    &__about {
      &__block {
        width: 400px;
        &__inside {
          width: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .app {
    &__about {
      &__block {
        width: 300px;
        &__inside {
          width: 300px;
        }
      }
    }
  }

  .did-you-know {
    font-size: 30px;
  }
}
