.app{
  &__header{
    display: flex;
    flex-direction:row ;
    background-color: rgb(227, 236, 212);
    height: 150px;
    padding: 10px;
    align-items: center;
    border: 1px solid rgb(23, 211, 16);
    border-top: none;

    &__img{
      max-width: 100px;
      max-height: 100px;
      margin-right: 10px;
      margin-left: 450px;
    }

    &__vl{
      border-left: 3px solid rgb(6, 17, 184);
      height: 100px;
      margin-right: 10px;
    }

    &__main-text{
      color: rgb(8, 1, 1);
      width: 150px;
      font-weight: bold;
      margin-right: 300px;
    }

    &__link{
      color: rgb(6, 17, 184);
      font-weight: bold;
      margin-right: 35px;
      font-size: 25px;
      margin-right: 55px;
      letter-spacing: 2px;
    }
  }
}

.active{
  color: black;
}

@media only screen and (max-width: 1310px) {
  .app__header__main-text{
    margin-right: 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .app__header{
    &__img{
      margin-left: 20px;
    }
  }
}

@media only screen and (max-width: 630px) {
  .app {
    &__header {
      height: 80px;

      &__img{
        height: 50px;
        width: 50px;
      }

      &__vl{
        height: 50px;
      }

      &__main-text{
        font-size: 10px;
        margin-right: 10px;
      }

      &__link{
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .app{
    &__header{
      justify-content: space-around;

     &__img{
      display: none;
     }
     &__vl{
      display: none;
     }
     &__main-text{
      display: none;
     }
     &__link{
      margin-left: 35px;
     }
    }
  }
}

@media only screen and (max-width: 380px) {
  .app{
    &__header{
      &__link{
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
