.app {
  &__content {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 675px;
  }

  &__chart {
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 236, 212);
    margin-top: 19px;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 0;
    height: 637px;
    width: 850px;
    border: 1px solid rgb(23, 211, 16);
  }

  &__countries {
    margin-top: 150px;
    height: 335px;
    width: 200px;
    border: 1px solid rgb(23, 211, 16);

    &__country {
      justify-content: space-around;
      margin-top: 5px;
      margin-left: 25px;
      border: 1px dashed rgb(23, 211, 16);
      display: flex;
      width: 150px;
      cursor: pointer;

      &__name {
        display: block;
      }
    }
  }
}

.enterSmth {
  margin-top: 25px;
  margin-right: 0px;
  height: 550px;
  width: 550px;
  padding: 180px 50px;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1819px) {
  .app__chart {
    margin-left: 5px;
  }

  .app__content {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1288px) {
  .app__content {
    flex-direction: column;
    height: 950px;
    align-items: center;
    justify-content: space-around;

    .app__chart {
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 870px) {
  .app {
    &__content {
      height: 800px;
    }

    &__chart {
      width: 540px;
      height: 350px;
    }

    &__countries {
      margin-top: 7px;
    }
  }

  .enterSmth {
    height: 300px;
    width: 300px;
    padding: 20px 50px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 550px) {
  .app {
    &__chart{
      width: 300px;
      flex-direction: column;
      height: 400px;
      padding: 0;
    }

    &__countries{
      display: flex;
      flex-direction: row;
      height: 80px;
      overflow: auto;
      width: 290px;
      margin-left: 5px;
      margin-bottom: 5px;
      justify-content: space-around;

      &__country{
        margin-left: 5px;
        min-width: 100px;
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and (min-height: 970px) {
  .app{
    &__content{
      height: 1200px;
    }
  }
}


