<div class="app__content">
  <app-all-countries [countriesStat]="allCountriesStat"></app-all-countries>

  <div class="app__chart">
    <app-radar-chart *ngIf="showCountriesStat.length !== 0; else enterSmth"
      [stats]="showCountriesStat"
      [allStats]="allCountriesStat"
    ></app-radar-chart>

    <div class="app__countries">
      <div
        class="app__countries__country"
        *ngFor="let country of showCountriesStat"
        (click)="deleteCountryStat(country)"
      >
      <span class="app__countries__country__name">{{ country.name }}</span>
      </div>
    </div>
  </div>

  <app-side-panel [countriesStat]="allCountriesStat"></app-side-panel>
</div>

<ng-template #enterSmth>
  <div class="enterSmth">
    <span class="enterSmth__text">Select at least one country</span>
  </div>
</ng-template>